* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

/*Configuração do conteiner geral*/
.conteiner {
    display: flex;
    width: 100%;
    height: 100dvh;
    color: white;
}



/*Configuração da sidebar*/
.sidebar {
    background-color: #171A26;
    height: 100dvh;
    width: 40vh;
    color: white;
    box-shadow: 3px 2px 20px #000000;

}



/*Trabalho do Profile*/
.profile {
    height: 8vh;
    padding: 1px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 0.80rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px #00000091;
}
.profile_image {
    background-color: white;
    width: 5vh;
    height: 5vh;
    border-radius: 100%; /*Remover depois*/
    padding: 10px; /*Remover depois*/
    margin: 5px 10px 5px 10px;

}
.menu_icon {
    filter: invert(100%);
    margin-left: auto;
    margin-right:10px;
}


 /*Trabalho da barra de pesquisa*/
 .search {
    width: 40vh;
 }
.search > input {
    width: 36vh;
    margin: 10px;
    padding: 10px;
    background-color: #20263d;
    background-image: url("../image/icones_home/procurar_branco.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 10px center;
    padding-left: 35px;
    border: none;
    border-radius: 5px;
    border-bottom:  2px solid #27B9F2 ;
    cursor: text;
    caret-color: white;
    color: white;
    outline: none;
}


/*Trabalho das conversas*/

.conversations ul li {
    padding: 15px;
    margin: 9px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}
.conversations ul li:hover {
    background-color: rgba(255, 255, 255, 0.05); /* camada levemente clara */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.conversations ul li img {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    margin-right: 15px;
    background-color: white;
    border: none;
}
.conversations ul li:active{
    box-shadow: 3px 6px 20px #000000;
    transform: translateY(3px);

}

/*Apenas global chat*/
.global_chat_button{
    background-color: #23283bb2;
    box-shadow: 3px 6px 20px #0000009c;
    transform: translateY(3px);

}







/*Configuração da chat*/
.chat {
    background-color: #171a26ef;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Cabeçalho do chat*/
.chat_header {
    background-color: #171A26;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px #00000056;


}
.chat_header_seta_return_button{
    width: 5vh;
    height: 5vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    margin-left: 6px;
}
.chat_header_seta_return_button:hover{
    background-color: #ecedf033;

}
.chat_header_mobile_seta_return_icon{
    filter: invert(100%);
    width: 3vh;
    height: 3vh;
}
.chat_header_contat_img {
    background-color: white ;
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.chat_header_telefone_img {
    width: 7vh;
    height: 7vh;
    margin-left:auto;
    filter: invert(100%);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.chat_header_telefone_img:hover{
    background-color: #171a2613;
}
.chat_header_cam_img {
    width: 7vh;
    height: 7vh;
    filter: invert(100%);
    margin-left: 20px;
    margin-right: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.chat_header_cam_img:hover{
    background-color: #171a2613;
}


/*campo de mensagens*/
.chat_messages{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    
}



.message_other{
    background-color: #171A26;
    padding: 20px;
    width: fit-content;
    border-radius: 0px 10px 10px 10px ;
    margin-bottom: 20px;
}
.name_other{
    color: orange;
    margin-bottom: 10px;
}

.message_self {
    background-color: #2B6DF9;
    width: fit-content;
    padding: 20px;
    align-self: flex-end;
    border-radius: 10px 0px 10px 10px ;
    margin-bottom: 20px;
    margin-right: 10px;
}


/*Input do chat*/
.chat_input {
    display: flex;
    height: 8vh;
    padding: 10px;
    background-color: #171A26;
}

.chat_input button {
    background-color: transparent;
    width: 6vh;
    cursor: pointer;
    height: 6vh;
    padding: 2px;
    border: none;
    border-radius: 5px;
}
.chat_input button:hover {
    background-color: #0000002d;
}
.chat_input img {
    width: 4vh;
    height: 4vh;
    filter: invert(100%);
    border: none;
    padding: 5px;
}

.chat_input input {
    width: 100%;
    background-color: #171A26;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
    cursor: text;
    color: white;
    outline: none;
}

.spacer {
    flex-grow: 1;
}
:root {
  --vh: 1vh;
}

@media (max-width: 768px) {
    :root {
    --vh: calc(100dvh / 100);
    }
    .sidebar {
    display: none;
    }
    /* Quando sidebar estiver ativa no mobile */
    .sidebar.show {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 80%;
        max-width: 300px;
        height: 100%;
        flex-direction: column;
        box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    }

    /*Chat configuration from telefone*/
    .chat_header_seta_return_button{
        display: flex;
    }
    .chat_header_contat_img {
        margin-left: 5px;

    }
    .chat_header_contat_name {
        font-size: 1.0rem;
    }
    .chat_header_telefone_img {
        width: 6vh;
        height: 6vh;
        margin-right: 3px;
    }
    .chat_header_cam_img {
        width: 6vh;
        height: 6vh;
        margin-right: 10px;
        margin-left: 5px;
    }

}

.conteiner,
.sidebar,
.chat {
  height: calc(var(--vh) * 100);
}
