* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    font-size: 16px;
}


.conteiner {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1b1c2d;
}



.title {
    display: flex;
    align-items: center;
    gap: 10px;
    position:absolute;
    top: 10px;
    left: 10px;
    
}
.title > img {
    width: 10vh;
}





.login{ 
    padding: 18px;
    border-radius: 5px;
}

.login_form > h2 {
    font-weight: 700;
    align-self: center;
}
.login_form > p {
    font-weight: 500;
    align-self: center;
}




.login_form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.login_form input {
    background-color: #28292e;
    font-weight: 700;
    border: none;
    width: 40vh;
    padding: 10px;
    border-radius: 5px;
    color: #e7e7e7;
    outline: none;
}
.login_form input:focus {
    outline: 2px solid #2597d7;
}


.login_form button {
    background: linear-gradient(to right, #336bf2, #35dd7c );
    background-size: 200% auto;
    background-position: left center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #e7e7e7;
    cursor: pointer;
    

}
.login_button{
    margin-top: 20px;
}
.login_form button:hover{
    background-position: right center;
}

label{
    font-size: 0.90rem;
    font-weight: 600;
    color: #e7e7e7;
    margin-top: 20px;
    
}


.astronaut{
    width: 60vh;
}

.login_conteiner{
    display: flex;
    margin-top: 40px;
    box-shadow: 10px 10px 10px 10px #00000027  ;
    align-items: center;
    border-radius: 10px;
    padding: 5vh;
    
}

.forgot_password{
    text-decoration: none;
    color:#3587F2 ;
    font-weight: 700;
    font-size: 0.85rem;
}
.forgot_password:hover{
    text-decoration:underline;
}

@media (max-width: 768px) {
    .login_conteiner {
        flex-direction: column;
        gap: 20px;
        padding: 4vh;
    }

    .astronaut {
        max-width: 35vh;
    }

    .login {
        width: 100%;
    }

    .login_form input,
    .login_form button {
        width: 100%;
    }
}

.login_conteiner {
    transition: box-shadow 0.4s;
}

.login_conteiner:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.548);
}

button {
    min-width: 150px;
    min-height: 45px;
}
.username_our_passowrd {
    color: #ed7673;
    display: none;
    font-size: 0.85rem;
}