<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trozzi</title>
    <link rel="icon" href="../image/Iconesemtexto.png">
    <link rel="stylesheet" href="../css/chat.css">
</head>
<body>
    <section class="conteiner">

        <header>
            <button type="menu" class="botao_menu_trozzi"><img src="../image/icone_menu.png" alt=""></button>
            <h1 class="titulo_trozzi_cabeçalho">Trozzi</h1>
            <img src="../image/Iconesemtexto.png" class="icone_trozzi_cabeçalho">
            
        </header>


        
        <section class="chat">
          <!--<div class="message_self">
                <h2>Nome</h2>
                <p>Mensagem enviada</p>
            </div>
            <div class="message_other">
                <span class="message--sender"> Enrique</span>
                Oi Tudo bom?
            </div> -->


        </section>




        <form class="chat_form">
            <button class="chatForm_emote"><img src="../image/feliz.png"></button>
            <input type="text" class="chat_input" placeholder="Digite um texto" required>
            <button type="submit" class="chatForm_send"><img src="../image/Iconedesend.png" alt=""></button>
        </form>
    </section>

    <script src="../js/config.js"></script>
    <script src="../js/chat.js"></script>
</body>
</html>