<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trozzi</title>
    <link rel="icon" href="../image/Iconesemtexto.png" type="image/png">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    
    <section class="conteiner">



        <!--Sidebar lateral de conversas-->
        <aside class="sidebar">

            <div class="profile">
                <img src="../image/icones_home/contato.png" class="profile_image">
                <h2 class="profile_name">Name</h2>
                <img src="../image/icones_home/icone_menu.png" class="menu_icon">
            </div>

            <div class="search">
                <input type="text" placeholder="Pesquisar em conversas...">
            </div>
            
            <div class="conversations">
                <ul>
                    <li class="global_chat_button"><img src="..//image/icones_home/planetas.png">Chat Global</li>
                    <li><img src="../image/icones_home/Flor de lótus pixel art.png">Contato 2</li>
                    <li><img src="../image/icones_home/Flor de lótus pixel art.png">Contato 3</li>
                </ul>
            </div>
        </aside>



        <!--Componentes do chat -->
        <main class="chat">
            <div class="chat_header">
                <button class="chat_header_seta_return_button"><img src="../image/icones_home/seta-direita.png" class="chat_header_mobile_seta_return_icon"></button>
                <img src="../image/icones_home/planetas.png" class="chat_header_contat_img">
                <h2 class="chat_header_contat_name">Chat Global</h2>
                <img src="..//image/icones_home/telefone.png" class="chat_header_telefone_img">
                <img src="../image/icones_home/camera-de-video.png" class="chat_header_cam_img">
            </div>

            <!--Campo de mensagens-->
            <div class="chat_messages">
                <div class="spacer"></div>
                <!--<div class="message_other"><h2 class="name_other">Other</h2><span>Eu estaaaaaaaaou aqui</span></div>-->
                <!--<div class="message_self"><span>Ola como está?</span></div>-->
            </div>

            <!--Inputs do chat-->
            <div class="chat_input">
                <button><img src="../image/icones_home/emoji.png"></button>
                <input type="text" placeholder="Digite uma mensagem..." class="caixa_de_digitacao">
                <button><img src="../image/icones_home/microfone.png"></button>
                <button type="click" class="send_button"><img src="../image/icones_home/send.png" class="send_icon"></button>
            </div>
            

        </main>




    </section>

    <script src="../js/config.js"></script> <!-- conexão ao arquivo de confirguração-->
    <script src="../js/home.js"></script>  <!-- Conecão com js-->
</body>
</html>