<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trozzi</title>
    <link rel="icon" href="../image/Iconesemtexto.png" type="image/png">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <section class="conteiner">

        <div class="title">
            <img src="../image/Iconesemtexto.png">
            <H1>Trozzi</H1>
        </div>

        <div class="login_conteiner">
            <div class="astronaut">
                <img src="../image/astronaut-animate.svg" alt="Astronauta">
            </div>
            <div class="login">
                <form class="login_form">
                    <h2>Boas-vindas de volta!</h2>
                    <p>Estamos muito animados em te ver novamente!</p>

                    <label class="login_check1">E-MAIL OU USUÁRIO </label>
                    <input type="text" class="login_input" placeholder="Usuário" required>
                    
                    
                    <label class="login_check2">SENHA</label>
                    <input type="password" class="password_input" placeholder="Senha" required>
                    <a href="forgot-password.html" class="forgot_password">Esqueceu sua senha?</a>


                    <button type="submit" class="login_button">Login</button>
                    <button onclick="window.location.href='signin.html'">Inscreva-se</button>
                    
                </form>
            </div>
        </div>

    </section>
    
    <script src="../js/config.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>